* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary: #2962FF;
  --primary-dk: #0D47A1;
  --white: #fff;
  --gray-e: #eee;
  --gray-d: #ddd;
  --gray-c: #ccc;
  --gray-a: #aaa;
  --gray-9: #999;
  --gray-8: #888;
  --gray-6: #666;
  --gray-3: #333;
  --gray-2: #222;
  --gray-1: #111;
  --gray-0: #080808;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-0);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

span {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: var(--gray-2);
}

h1 {
  font-size: 1.8em;
  color: var(--gray-0);
}

h1 span {
  color: var(--gray-2);
  font-size: 0.6em;
}

h2 {
  font-size: 1.2em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.resume {
  padding: 20px;
  position: relative;
}

.btn-print {
  background: var(--primary);
  padding: 5px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  color: var(--white);
  display: inline-block;
  margin-top: .5rem;
}

.btn-print:hover {
  background: var(--primary-dk);
}

.info-right a {
  display: block;
}

.info-right {
  margin-top: 6px;
}

.work-exp p, .skills p {
  font-size: 0.9rem;
  color: var(--gray-1);
}

.block {
  padding: 15px 0;
  border-bottom: 1px solid var(--gray-a);
}

.block-thanks {
  margin-top: .5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.block-thanks > div:first-child{
    align-self: end;
}

.block:after,
.block:before {
  content: "";
  clear: both;
  display: table;
}

.left,
.pos span {
  display: inline-block;
}

.left {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.skills-text {
  font-size: 1rem;
  color: var(--gray-8);
}

.right {
  padding-left: 5px;
  padding-right: 5px;
}

.objective {
  font-size: 1.1em;
  color: var(--gray-0);
}

.work-exp .block-detail > li {
  border-bottom: 1px solid var(--gray-d);
  padding: 10px 0;
}

.work-exp .block-detail > li:nth-child(1) {
  padding-top: 5px;
}

.work-exp .block-detail > li:nth-last-child(1) {
  padding-top: 5px;
  border: none;
}

.exp li {
  color: var(--gray-3);
  font-weight: 400;
}

li > h3 a {
    margin-bottom: 6px;
    display: inline-block;
}

li > h3 a span {
    display: inline-block;
    font-weight: 400;
}

.pos {
  color: var(--gray-6);
  font-weight: 700;
  padding: 6px 0 0;
}

.print-only {
  display: none;
}

@media print, screen and (min-width: 480px) {
  .left {
    width: 160px;
    float: left;
  }

  .left h2 {
    font-size: 0.95em;
  }

  .right {
    padding-left: 170px;
  }

  .info-right {
    float: right;
    margin-top: 15px;
  }

  .info-left {
    float: left;
  }
}

@media print, screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 1.3em;
  }

  .resume {
    padding: 20px 50px;
  }

  .left {
    width: 200px;
  }

  .right {
    padding-left: 200px;
  }
}

@media print, screen and (min-width: 1000px) {
  .resume {
    margin: 40px auto 30px;
    border: 1px solid var(--gray-c);
  }
}

@media print {
  .resume {
    border: none;
    margin: 0 auto;
  }
  .block.info {
    padding-top: 5px;
  }
  .objective {
    font-size: 1rem;
  }
  .btn-print {
    display: none;
  }
  .print-only {
    display: initial;
  }
}
